html {
	height:100%;
}

button {
	background-color: darkred;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
}

button:hover {
	filter: brightness(125%);
}

button:active {
	filter: brightness(150%);
}

button:disabled {
	filter: brightness(75%);
	pointer-events: none;
}

div#gallery {
	border: 1px #ccc solid;
	width: 600px;
	margin: 40px auto;
	text-align: center;
}

div#gallery img {
	margin: 20px;
	border: 2px #004694 solid;
}

div#gallery p {
	color: #004694;
}

div#gallery div.pn {
	padding: 10px;
	margin: 0 5px;
	border-top: 1px #ccc solid;
}

a {
	color:#333;
}

a:hover {
	color:#c00;
	-moz-box-shadow: 0 0 5px #c00;
	-webkit-box-shadow: 0 0 5px #c00;
	box-shadow: 0 0 5px #c00;
}

a.sp {
	padding-right: 40px;
}
	
body {
	background-color: #444;
	color: white;
	font-family: sans-serif;
	text-align: center;
	min-height:100%;
	padding:3;
	margin:3;
	position:relative
}

body::after {
	content:'';
	display:block;
	height:100px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid darkred;
	margin: 1em 0;
	padding: 0;
}
.subhead {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #555;
	color: white;
	border-radius: 5px;
}

footer { 
	position:absolute; 
	bottom:0; 
	width:100%; 
	height:100px; 
}

/* unvisited link */

a:link {
	color: LightCoral;
}


/* visited link */

a:visited {
	color: LightCoral;
}


/* mouse over link */

a:hover {
	color: LightSalmon;
}


/* selected link */

a:active {
	color: lightsalmon;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border-radius: 5px;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 5px;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
}

ul.topnav li a:hover:not(.active) {
	background-color: #111;
}

ul.topnav li a.active {
	background-color: darkred;
}

ul.topnav li.right {
	float: right;
	margin-right: 16px;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right,
	ul.topnav li {
		float: none;
	}
}

table {
	font-family: sans-serif;
	border-collapse: collapse;
	width: 100%;
	border-radius: 5px;
}

tr:nth-child(even) {
	background-color: #474747;
	border-radius: 5px;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #555;
	color: white;
	border-radius: 5px;
}
